
</div>
<footer class="text-center footerNew">
  <div class="mb-2">
    <small>
      &copy; Copyright <strong>ETMS</strong>. All Rights Reserved
    </small>
  </div>
</footer>
</main>
</div>


</body>


</html>

<style>
  .footerNew{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>

<script>
  jQuery(function ($) {

    $(".sidebar-dropdown > a").click(function () {
      $(".sidebar-submenu").slideUp(200);
      if (
        $(this)
          .parent()
          .hasClass("active")
      ) {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .parent()
          .removeClass("active");
      } else {
        $(".sidebar-dropdown").removeClass("active");
        $(this)
          .next(".sidebar-submenu")
          .slideDown(200);
        $(this)
          .parent()
          .addClass("active");
      }
    });

    $("#close-sidebar").click(function () {
      $(".page-wrapper").removeClass("toggled");
    });
    $("#show-sidebar").click(function () {
      $(".page-wrapper").addClass("toggled");
    });




  });
</script>
<script type="text/javascript">
  setTimeout(function() {
    $(".succ_msg,.succ_err").fadeOut("slow");  
    err_msg    
  }, 3000 );
</script>


