
  .npdes1{
    position: relative;
    right: 54px;
    background-color: #ccc;
    border-radius: 7px;
    padding: 20px;
    max-width: 12%;
    max-height: 450px;
    overflow-y: scroll;
    
  }

  .inactiveStatus{
    border: none;
    background-color: #e57b7b;
    font-size: 14px;
    padding: 6px;
    border-radius: 20px;
    cursor:pointer;
  }

  .activeStatus{
    border: none;
    background-color: #7be57f;
    font-size: 14px;
    padding: 6px;
    border-radius: 20px;
    cursor:pointer;
  }

  .rowSwitch{      
    display: inline-block;
    position: relative;
    left: 26px;
    bottom: 5px;

  }

  .removeDev{
    border: none;
    background-color: transparent;
    position: relative;
    bottom: 7px;
    color: #c31313;
    cursor:pointer;
  }

  .modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }